.dynamic-con {
    display: grid;
    grid-area: dynamic-con;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
    "header"
    "dynamic"
    ;
    background:green;
    overflow: hidden;
    background-color: #121212;
}

.dyn-home {
    grid-area: dynamic;
    // background-color: #b90909;
    height: 100%;
    color: white;
    // overflow: hidden;
    // overflow-y: scroll;
}

.dyn-home, .dyn-search {
    grid-area: dynamic;
    overflow-y: auto; /* Allows scrolling within the element */
}

.dyn-search {
    grid-area: dynamic;
    height: 100%;
    background-color: #39da24;
}