* {
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    background-color: #c1c1c1;
    width: 16px;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    ;
    line-height: 1.6;
    overflow: hidden;
}

body {
    height: 100vh;
    margin: 0;
    // max-width: 1024px;
}

// h1, h2, h3, h4, h5, h6 {
//     // font-family: caveat;
//     margin: 0 0 0.6em;
//     line-height: 1;
// }


// section, main, footer {
//     padding: 3px;
// }

img {
    width: 100%;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.clean-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.clean-btn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
